body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.hidden {
  display: none;
}

.form-guest {
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.form-guest h1 {
  text-align: center;
}

.form-guest__inputs {
  display: flex;
  flex-direction: column;
}

.form-guest__input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-guest__label {
  margin-bottom: 4px;
  font-weight: 500;
}

.form-guest__field {
  width: 100%;
  font-size: 1rem;
  box-sizing: border-box;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid black;
}

.form-guest__error {
  color: red;
  font-size: 0.95em;
  text-align: end;
  min-height: 1em;
  margin-top: 2px;
}

.form-guest__button {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  margin-top: 14px;
  padding: 8px;
  font-size: 1rem;
  cursor: pointer;
  background: #2e6bf6;
  color: #fff;
  border: none;
  border-radius: 3px;
  transition: background 0.2s;
  border-radius: 8px;
}

.form-guest__button:hover {
  background: #1b469e;
}
